In [3]:
import pandas as pd
data = pd.read_csv("Preprocessed_cardio_data.csv")

In [4]:
data

,Unnamed: 0,height,weight,ap_hi,ap_lo,cholesterol,gluc,smoke,alco,active,cardio,age_years,Pulse_Pressure
0,0,168,62.0,110,80,1,1,0,0,1,0,50,30
1,1,156,85.0,140,90,3,1,0,0,1,1,55,50
2,2,165,64.0,130,70,3,1,0,0,0,1,51,60
3,3,169,82.0,150,100,1,1,0,0,1,1,48,50
4,5,151,67.0,120,80,2,2,0,0,0,0,59,40
...,...,...,...,...,...,...,...,...,...,...,...,...,...
58647,69991,159,72.0,130,90,2,2,0,0,1,0,56,40
58648,69993,172,70.0,130,90,1,1,0,0,1,1,53,40
58649,69995,168,76.0,120,80,1,1,1,0,1,0,52,40
58650,69998,163,72.0,135,80,1,2,0,0,0,1,61,55
58651,69999,170,72.0,120,80,2,1,0,0,1,0,56,40

In [5]:
X = data.drop(['Unnamed: 0', 'cardio'], axis=1)
y = data['cardio']

In [7]:
X

,height,weight,ap_hi,ap_lo,cholesterol,gluc,smoke,alco,active,age_years,Pulse_Pressure
0,168,62.0,110,80,1,1,0,0,1,50,30
1,156,85.0,140,90,3,1,0,0,1,55,50
2,165,64.0,130,70,3,1,0,0,0,51,60
3,169,82.0,150,100,1,1,0,0,1,48,50
4,151,67.0,120,80,2,2,0,0,0,59,40
...,...,...,...,...,...,...,...,...,...,...,...
58647,159,72.0,130,90,2,2,0,0,1,56,40
58648,172,70.0,130,90,1,1,0,0,1,53,40
58649,168,76.0,120,80,1,1,1,0,1,52,40
58650,163,72.0,135,80,1,2,0,0,0,61,55
58651,170,72.0,120,80,2,1,0,0,1,56,40

In [9]:
y

0        0
1        1
2        1
3        1
4        0
        ..
58647    0
58648    1
58649    0
58650    1
58651    0
Name: cardio, Length: 58652, dtype: int64

In [10]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [ ]:
from sklearn.ensemble import RandomForestClassifier
model = RandomForestClassifier(random_state=42)
model.fit(X_train, y_train)