In [1]:
import pandas as pd
data = pd.read_csv("cardio_data_cleaned.csv")

In [2]:
data

,id,gender,ap_hi,ap_lo,cholesterol,gluc,smoke,alco,active,cardio,age_years,bmi
0,0,2,110,80,1,1,0,0,1,0,50,22.0
1,1,1,140,90,3,1,0,0,1,1,55,34.9
2,2,1,130,70,3,1,0,0,0,1,52,23.5
3,3,2,150,100,1,1,0,0,1,1,48,28.7
4,4,1,100,60,1,1,0,0,0,0,48,23.0
...,...,...,...,...,...,...,...,...,...,...,...,...
68630,99993,2,120,80,1,1,1,0,1,0,53,26.9
68631,99995,1,140,90,2,2,0,0,1,1,62,50.5
68632,99996,2,180,90,3,1,0,1,0,1,52,31.4
68633,99998,1,135,80,1,2,0,0,0,1,61,27.1
68634,99999,1,120,80,2,1,0,0,1,0,56,24.9

In [4]:
# Assuming 'cardio' is your target variable (1 = disease, 0 = no disease)
target_column = 'cardio'

# X contains all features (drop the target column from df)
X = data.drop(columns=[target_column])

# y contains only the target variable
y = data[target_column]

In [5]:
from sklearn.model_selection import train_test_split

# Split data: 80% train, 20% test
# random_state ensures reproducibility of the split
X_train, X_test, y_train, y_test = train_test_split(
    X, y, 
    test_size=0.2, 
    random_state=42
)

print(f"Training samples: {len(X_train)}")
print(f"Testing samples: {len(X_test)}")

Training samples: 54908
Testing samples: 13727

In [14]:
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

# Initialize the model
model = LogisticRegression(solver='saga', max_iter=1000)

# Train the model using the training data (fit the model)
model.fit(X_train, y_train)

print("Model training complete.")

Model training complete.

C:\Users\smitm\anaconda3\Lib\site-packages\sklearn\linear_model\_sag.py:349: ConvergenceWarning: The max_iter was reached which means the coef_ did not converge
  warnings.warn(

In [15]:
# Use the trained model to make predictions on the test features
y_pred = model.predict(X_test)

# Calculate the accuracy of the predictions
accuracy = accuracy_score(y_test, y_pred)

print(f"Model Accuracy on Test Set: {accuracy * 100:.2f}%")

Model Accuracy on Test Set: 54.54%