In [1]:
import pandas as pd
import numpy as np

In [6]:
data = pd.read_csv('cardio_train.csv',sep=';')

In [13]:
data.tail(20)

,id,age,gender,height,weight,ap_hi,ap_lo,cholesterol,gluc,smoke,alco,active,cardio
69980,99971,17727,2,167,69.0,110,80,1,1,0,1,0,0
69981,99972,17500,2,182,110.0,130,90,2,2,0,0,1,1
69982,99973,18941,1,153,86.0,130,90,1,2,0,0,1,1
69983,99974,19652,1,165,72.0,120,80,1,1,0,0,1,0
69984,99975,17926,2,168,80.0,120,80,1,1,0,0,1,1
69985,99977,18194,1,156,102.0,130,80,1,1,0,1,0,1
69986,99978,18198,2,180,78.0,120,80,1,1,0,0,1,0
69987,99979,18852,1,151,49.0,120,80,1,1,0,0,1,0
69988,99981,21978,1,160,59.0,110,70,1,1,0,0,1,0
69989,99985,21013,1,157,83.0,120,70,1,1,0,0,1,1
69990,99986,15094,1,168,72.0,110,70,1,1,0,0,1,1
69991,99988,20609,1,159,72.0,130,90,2,2,0,0,1,0
69992,99990,18792,1,161,56.0,170,90,1,1,0,0,1,1
69993,99991,19699,1,172,70.0,130,90,1,1,0,0,1,1
69994,99992,21074,1,165,80.0,150,80,1,1,0,0,1,1
69995,99993,19240,2,168,76.0,120,80,1,1,1,0,1,0
69996,99995,22601,1,158,126.0,140,90,2,2,0,0,1,1
69997,99996,19066,2,183,105.0,180,90,3,1,0,1,0,1
69998,99998,22431,1,163,72.0,135,80,1,2,0,0,0,1
69999,99999,20540,1,170,72.0,120,80,2,1,0,0,1,0

In [41]:
a = data.columns[(data.isna() | (data == "")).any()]
print(a)

Index([], dtype='object')

In [42]:
if data.isnull().values.any():
    print("Null Exist")
else:
    print("Null not Exist")

Null not Exist

SyntaxError: invalid syntax (3541684750.py, line 1)